//Google Fonts Import
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
//Reset CSS
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
a{
    text-decoration: none;
}
body{
    width: 100%;
    height: 100vh;
    background-color:  #1B2631;
}
#welcome-page{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .input-container{
        display: flex;
        justify-content: center;
        width: 100%;
        input{
            width: 50%;
            padding: 16px;
            border: 1px solid transparent;
            border-radius: 12px 0 0 12px;
            font-weight: bold;
            &:focus{
                border: 1px solid #2980B9;
                color: #403F3F;
                outline: none;
            }
            &::placeholder{
                color: #C9C9C9;
            }
        }
        button{
            background-color: #2980B9;
            font-weight: bold;
            padding: 16px 32px;
            font-size: 16px;
            border: none;
            font-weight: bold;
            border-radius: 0 12px 12px 0;
            color: #FFF;
            cursor: pointer;
        }
    }
}
header{
    padding: 32px 64px;
    border-bottom: 1px solid #2980B9;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    a{
        font-size: 32px;
        color: #2980B9;
    }
}


#pageContainer{
    display: flex;
    width: 100%;
    height: 100vh;
    #NowWeather{
        width: calc(100% - 420px);
        border-right: 2px double gray;
        height: 100vh;
        display: flex;
        align-items: flex-end;
        padding: 64px;
        .temp{
            h1{
                color: #FFF;
                font-size: 64px;
                font-weight: bold;
            }
        }
        .city-name-infos{
            margin-left: 5%;
            .cityName{
                color: #FFF;
                font-size: 32px;
                font-weight: bold;
            }
            .country{
                color: #FDFEFE;
            }
        }
        .temp-details{
            margin-left: 5%;
            display: flex;
            align-items: center;
            img{
                width: 64px;
            }
            p{
                color: #FFF;
                text-transform: capitalize;
            }
        }
    }
}