//Google Fonts Import
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
//Reset CSS
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
h1{
    color: white;
}
a{
    text-decoration: none;
}
body{
    width: 100%;
    height: 100vh;
    background-color:  #1B2631;
}
#welcome-page{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .input-container{
        display: flex;
        justify-content: center;
        width: 100%;
        input{
            width: 50%;
            padding: 16px;
            border: 1px solid transparent;
            border-radius: 12px 0 0 12px;
            font-weight: bold;
            &:focus{
                border: 1px solid #2980B9;
                color: #403F3F;
                outline: none;
            }
            &::placeholder{
                color: #C9C9C9;
            }
        }
        button{
            background-color: #2980B9;
            font-weight: bold;
            padding: 16px 32px;
            font-size: 16px;
            border: none;
            font-weight: bold;
            border-radius: 0 12px 12px 0;
            color: #FFF;
            cursor: pointer;
        }
    }
    .items-container{
        margin-top: 24px;
        display: flex;
    }
    .homePage-item-container{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        padding: 12px; 
        border-bottom: 1px solid white;
        margin-right: 24px;
        &:last-child{
            margin: 0 !important;
        }
        h3{
            font-size: 24px;
        }
        img{
            width: 80px;
        }
        .desc{
            margin-top: 8px;
            text-transform: capitalize;
        }
    }
}
header{
    padding: 32px 64px;
    border-bottom: 1px solid #2980B9;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    a{
        font-size: 32px;
        color: #2980B9;
    }
}


#pageContainer{
    display: flex;
    width: 100%;
    height: 100vh;
    #NowWeather{
        width: calc(100% - 420px);
        border-right: 2px double gray;
        height: 100vh;
        display: flex;
        align-items: flex-end;
        padding: 64px;
        .temp{
            h1{
                color: #FFF;
                font-size: 64px;
                font-weight: bold;
            }
        }
        .city-name-infos{
            margin-left: 5%;
            .cityName{
                color: #FFF;
                font-size: 32px;
                font-weight: bold;
            }
            .country{
                color: #FDFEFE;
            }
        }
        .temp-details{
            margin-left: 5%;
            display: flex;
            align-items: center;
            img{
                width: 64px;
            }
            p{
                color: #FFF;
                text-transform: capitalize;
            }
        }
    }
    #DetailWeather{
        width: 420px;
        padding: 32px;
        max-height: 100vh;
        overflow: auto;
        .general-city-infos{
            display: flex;
            justify-content: center;
            padding-bottom: 32px;
            border-bottom: 1px solid gray;
            div{
                color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-right: 24px;
                padding: 12px;
                &:last-child{
                    margin: 0;
                }
                i{
                    font-size: 24px;
                    color: #85929E;
                }
                p{
                    margin-top: 8px;
                    &.data{
                        font-size: 20px;
                    }
                }

            }
        }
        .temps-area{
            display: grid;
            grid-template-columns: 50% 50%;
            .item{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 12px;
                margin-right: 24px;
                &:nth-child(even){
                    margin: 0;
                }
                border-bottom: 1px solid white;
                p{
                    color: white !important;
                    margin-top: 8px;
                    &.temp{
                        font-size: 24px;
                    }
                    &.date{
                        font-size: 12px;
                    }
                    &.clock{
                        margin: 0;
                        font-size: 12px;
                    }
                }
                
                .date{
                    color: white;
                }
            }
        }
    }
}