@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }

a {
  text-decoration: none; }

body {
  width: 100%;
  height: 100vh;
  background-color: #1B2631; }

#welcome-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  #welcome-page .input-container {
    display: flex;
    justify-content: center;
    width: 100%; }
    #welcome-page .input-container input {
      width: 50%;
      padding: 16px;
      border: 1px solid transparent;
      border-radius: 12px 0 0 12px;
      font-weight: bold; }
      #welcome-page .input-container input:focus {
        border: 1px solid #2980B9;
        color: #403F3F;
        outline: none; }
      #welcome-page .input-container input::placeholder {
        color: #C9C9C9; }
    #welcome-page .input-container button {
      background-color: #2980B9;
      font-weight: bold;
      padding: 16px 32px;
      font-size: 16px;
      border: none;
      font-weight: bold;
      border-radius: 0 12px 12px 0;
      color: #FFF;
      cursor: pointer; }

header {
  padding: 32px 64px;
  border-bottom: 1px solid #2980B9;
  position: absolute;
  top: 0;
  left: 0;
  display: none; }
  header a {
    font-size: 32px;
    color: #2980B9; }

#pageContainer {
  display: flex;
  width: 100%;
  height: 100vh; }
  #pageContainer #NowWeather {
    width: calc(100% - 420px);
    border-right: 2px double gray;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    padding: 64px; }
    #pageContainer #NowWeather .temp h1 {
      color: #FFF;
      font-size: 64px;
      font-weight: bold; }
    #pageContainer #NowWeather .city-name-infos {
      margin-left: 5%; }
      #pageContainer #NowWeather .city-name-infos .cityName {
        color: #FFF;
        font-size: 32px;
        font-weight: bold; }
      #pageContainer #NowWeather .city-name-infos .country {
        color: #FDFEFE; }
    #pageContainer #NowWeather .temp-details {
      margin-left: 5%;
      display: flex;
      align-items: center; }
      #pageContainer #NowWeather .temp-details img {
        width: 64px; }
      #pageContainer #NowWeather .temp-details p {
        color: #FFF;
        text-transform: capitalize; }
  #pageContainer #DetailWeather {
    width: 420px;
    padding: 32px;
    max-height: 100vh;
    overflow: auto; }
    #pageContainer #DetailWeather .general-city-infos {
      display: flex;
      justify-content: center;
      padding-bottom: 32px;
      border-bottom: 1px solid gray; }
      #pageContainer #DetailWeather .general-city-infos div {
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 24px;
        padding: 12px; }
        #pageContainer #DetailWeather .general-city-infos div:last-child {
          margin: 0; }
        #pageContainer #DetailWeather .general-city-infos div i {
          font-size: 24px;
          color: #85929E; }
        #pageContainer #DetailWeather .general-city-infos div p {
          margin-top: 8px; }
          #pageContainer #DetailWeather .general-city-infos div p.data {
            font-size: 20px; }
    #pageContainer #DetailWeather .temps-area {
      display: grid;
      grid-template-columns: 50% 50%; }
      #pageContainer #DetailWeather .temps-area .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 12px;
        margin-right: 24px;
        border-bottom: 1px solid white; }
        #pageContainer #DetailWeather .temps-area .item:nth-child(even) {
          margin: 0; }
        #pageContainer #DetailWeather .temps-area .item p {
          color: white !important;
          margin-top: 8px; }
          #pageContainer #DetailWeather .temps-area .item p.temp {
            font-size: 24px; }
          #pageContainer #DetailWeather .temps-area .item p.date {
            font-size: 12px; }
          #pageContainer #DetailWeather .temps-area .item p.clock {
            margin: 0;
            font-size: 12px; }
        #pageContainer #DetailWeather .temps-area .item .date {
          color: white; }

/*# sourceMappingURL=app.css.map */
